/* Using a class selector to select different classes to change colors of text */
.crimson {

    color: crimson;

}

.green {

    color: green;

}

.yellow {

    color: 	#FBEC5D;

}

.red {

    color: red;

}

.orange {

    color: orange;

}
/* Using ID selector to select certain IDs to change color or text and background  */
#yes {

    color: white;
    background-color: green;

}

#no {

    color: white;
    background-color: red;

}