/* Using Descendent selector to select all anchor tag in header tag to change font size and color */
header > a {

    font-size: 30px;
    color: blue;

}

/* Using ID selector to select a specific ID to change color */
#schools {

    color: red;

}