/* Using Descendent selector to select all anchor tag in h1 tag to change font size and color */
h1 > a {

    font-size: 30px;
    color: blue;

}

/* Using ID selector to select a specific ID to change color */
#schools {

    color: red;

}