/* Using Descendent selector to select all anchor tag in header tag to change font size and color */
header > a {

    font-size: 30px;
    color: blue;

}

/* Using attribute selector to select a specific class to change color */
.schools {

    color: red;

}